body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  max-width: 38rem;
  background: #222;
  color: #fff;
  font-size: 18px;
  overflow: hidden;
}

button {
  background: transparent;
  border: 0;
  color: #fff;
  padding: 1em;
  outline: none;
}

button:disabled {
  opacity: .5;
}

video {
  background: #333 url(../static/movie.svg) center no-repeat;
  background-size: 25%;
  height: 100vh;
  position: relative;
  width: 100vw;
}

.screen::before {
  background: #000;
  border-radius: 5em;
  content: attr(data-label);
  font-size: .7em;
  margin: 1em;
  opacity: .5;
  padding: .5em 1em;
  position: fixed;
  right: 0;
  top: -50px;
  transition: top .5s ease-in-out;
  z-index: 2;
}

.screen:hover::before {
  opacity: .5;
  top: 0;
}

.screen::after {
  background-image: radial-gradient(transparent, rgb(0, 0, 0));
  bottom: 0;
  content: '';
  left: 0;
  opacity: .3;
  position: absolute;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity .2s ease-in-out;
  z-index: 1;
}

.screen:hover::after {
  opacity: .5;
}

.controls {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, .3));
  bottom: 0;
  display: flex;
  left: 0;
  padding: 5px;
  position: fixed;
  right: 0;
  z-index: 2;
  height: 2.5em;
}

.rec {
  background: rgba(255, 42, 42, 0.6) url(../static/rec.svg) center no-repeat;
}

.stop {
  background: rgba(0, 0, 0, 0.6) url(../static/stop.svg) center no-repeat;
}

.action {
  opacity: .8;
  background-size: 60%;
  background-origin: content-box;
  border-radius: 5em;
  bottom: 1em;
  height: 5em;
  left: 1em;
  padding: .5em;
  position: fixed;
  width: 5em;
}

.action:hover {
  opacity: 1;
}

.action::before {
  content: attr(data-tip);
  color: #fff;
  padding: .5em 1em;
  position: absolute;
  left: 5em;
  bottom: 1em;
  opacity: 0;
  transition: opacity .2s ease-in-out;
  text-align: left;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .5);
}

.action:hover::before {
  opacity: 1;
}

.hidden { display: none; }

.selector {
  background: transparent url(../static/target.svg) center no-repeat;
  background-size: contain;
  border: 0;
  position: fixed;
  bottom: 1em;
  right: 1em;
  width: 5em;
  height: 5em;
  padding: .5em;
  border-radius: 5em;
  background-origin: content-box;
  transition: background-color .2s ease-in-out;
}

.selector:hover {
  background-color: rgba(0, 0, 0, .6);
}

.selector::before {
  content: attr(data-tip);
  color: #fff;
  padding: .5em 1em;
  position: absolute;
  right: 5em;
  bottom: 1em;
  opacity: 0;
  transition: opacity .2s ease-in-out;
  text-align: right;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .5);
}

.selector:hover::before {
  opacity: 1;
}

.status {
  animation: blink 1s steps(5, start) infinite;
  text-align: center;
  font-size: .8em;
  padding: 1em;
  width: 100%;
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}